<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <title>Villana</title>
    {% load static %}
    <base href="/">
    <meta name="description" content="Villana app">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="villana">
    <link rel="apple-touch-icon" href="{% static 'frontend/icons/Icon-192.png' %}">
    <link rel="icon" type="image/png" href="{% static 'frontend/favicon.png' %}">
    <link rel="manifest" href="{% static 'frontend/manifest.json' %}">
</head>
<body>
    <script src="{% static 'frontend/flutter_bootstrap.js' %}" async></script>
</body>
</html>
